{{- /*
Image Modal Shortcode
Usage: {{< image-modal src="path/to/image.png" alt="Description" caption="Optional caption" >}}
Displays a clickable thumbnail that opens a full-size modal view.
*/ -}}

{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "Image" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $class := .Get "class" | default "" -}}
{{- $id := printf "img-modal-%s" (md5 $src) -}}

<figure class="image-modal-trigger {{ $class }}" data-modal-id="{{ $id }}">
  <img src="{{ $src | relURL }}" alt="{{ $alt }}" loading="lazy" class="modal-thumbnail" role="button" tabindex="0" aria-label="Click to view full size: {{ $alt }}" />
  {{- if $caption }}
  <figcaption>{{ $caption | markdownify }}</figcaption>
  {{- end }}
</figure>

<div id="{{ $id }}" class="image-modal" hidden aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="{{ $id }}-title">
  <div class="image-modal-backdrop"></div>
  <div class="image-modal-content">
    <button class="image-modal-close" aria-label="Close image viewer">×</button>
    <img src="{{ $src | relURL }}" alt="{{ $alt }}" id="{{ $id }}-title" />
    {{- if $caption }}
    <div class="image-modal-caption">{{ $caption | markdownify }}</div>
    {{- end }}
  </div>
</div>
