.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    text-align: center;
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile img {
    border-radius: 0;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.buttons .button {
    background-color: #810f0c;
}

.buttons .button:hover {
    background-color: rgb(134, 55, 55);
}

.buttons .button .button-inner {
    color: var(--code-bg);
}

.warning {
  border-left-color: #c89f2d !important;
}

.note {
    border-left-color: rgb(49, 109, 202) !important;
    /* background: rgba(81, 75, 237, 0.23);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.important {
    border-left-color: rgb(152, 110, 226) !important;
}

.tip {
    border-left-color: rgb(87, 171, 90) !important;
}

.danger {
  border-left-color: #810f0c !important;
}