:root {
    --gap: 70px;
    --accent_color: #810f0c;
}

.main {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.footer {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

#menu li:last-child span {
    border: 2px solid var(--accent_color);
    border-radius: 10px;
    padding: 5px;
}

#menu a {
    font-size: 15px;
}

#menu .active {
    border-color: var(--accent_color);
}

.main .profile {
    /* min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2)); */
    display: flex;
    justify-content: space-between;
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    justify-content: start;
}

.profile-title {
    font-size: 40px;
    color: var(--accent_color);
    font-weight: bold;
    text-align: start;
}

.profile-subtitle {
    text-align: start;
    font-weight: 700;
}

.profile-first-block {
    margin-top: 30px;
    font-size: 16px;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    padding-block: 15px;
}

.social-icons a svg {
    height: 50px;
    width: 50px;
}

.profile img {
    border-radius: 0;
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    align-self: start;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}

.buttons .button {
    background-color: var(--accent_color);
}

.buttons .button:hover {
    background-color: rgb(134, 55, 55);
}

.buttons .button .button-inner {
    color: var(--code-bg);
}

.warning {
  border-left-color: rgb(198, 144, 38) !important;
}

.note {
    border-left-color: rgb(49, 109, 202) !important;
    /* background: rgba(81, 75, 237, 0.23);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.important {
    border-left-color: rgb(152, 110, 226) !important;
}

.tip {
    border-left-color: rgb(87, 171, 90) !important;
}

.danger {
  border-left-color: var(--accent_color) !important;
}

.goat.svg-container {
    font-size: 13px;
    width: 50%;
    display: block;
    margin: auto;
}

.goat-caption {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-style: italic;
    font-size: medium;
}

.post-entry {
    padding: 30px;
    margin-bottom: 30px;
}

.post-content p {
    text-align: justify;
}

.inference-block {
    margin-top: 1rem;
    text-align: center;
}

.inference-block p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inference-block-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--accent_color);
}

.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}